iSPLInception/images/daphnet/*
iSPLInception/images/opportunity/*
iSPLInception/images/pamap2/*
iSPLInception/images/ucihar/*

iSPLInception/dataset/daphnet/*
iSPLInception/dataset/opportunity/*
iSPLInception/dataset/pamap2/*
iSPLInception/dataset/ucihar/*
iSPLInception/dataset/ispl/*

iSPLInception/reports/daphnet/*
iSPLInception/reports/opportunity/*
iSPLInception/reports/pamap2/*
iSPLInception/reports/ucihar/*

iSPLInception/models/daphnet/*
iSPLInception/models/opportunity/*
iSPLInception/models/pamap2/*
iSPLInception/models/ucihar/*

iSPLInception/logs/fit/*

__pycache__